<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>26</ApplicationRevision>
    <ApplicationVersion>1.0.4.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows10.0.19041.0\win-x86\app.publish\</PublishDir>
    <PublishUrl>J:\Installation\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>\\Win-u5iq2hisnh3\e\Installation\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2026-02-20T02:40:54.0727289Z||;True|2026-02-15T17:39:48.9263879-06:00||;True|2026-02-14T21:59:52.2329851-06:00||;True|2026-02-14T21:51:09.0596871-06:00||;True|2026-02-14T21:13:05.3615368-06:00||;True|2026-02-14T18:14:21.1825885-06:00||;True|2026-02-08T19:24:35.7215937-06:00||;True|2026-02-08T19:04:47.0493335-06:00||;True|2026-02-08T16:59:59.7847095-06:00||;True|2026-02-08T16:46:05.0085592-06:00||;True|2026-02-08T10:26:30.5558495-06:00||;True|2026-02-07T20:07:33.8143713-06:00||;True|2026-02-07T18:56:06.8676693-06:00||;True|2026-02-07T17:51:38.4117535-06:00||;True|2026-02-07T17:31:11.8360244-06:00||;</History>
  </PropertyGroup>
</Project>